---
import Layout from '../layouts/Layout.astro'
import data from '../data'
---

<Layout>
  <h1>Useful</h1>
  {
    data.map((collection, i) => (
      <ul>
        <h2>{collection.name}</h2>
        {collection.websites.map((website, i) => (
          <li>
            <a href={website.address} target="_blank" rel="noopener noreferrer">
              {website.title}
            </a>
            {website.description && <span> - {website.description}</span>}
          </li>
        ))}
      </ul>
    ))
  }
</Layout>
