* {
  box-sizing: border-box;
}

ul {
  padding-left: 0;
  list-style: none;
}

body {
  margin: 0;
  font-size: 16px;
  background-color: #b0d4e3;
  line-height: 1.57;
}

.App {
  width: auto;
  padding: 1em;

  header {
    text-align: center;
    margin-bottom: 4em;
  }

  h1 {
    font-size: 5em;
    margin-bottom: -0.1em;
  }

  ul {
    width: 30em;
    margin: 0 auto;

    @media (min-width: 44em) {
      width: 42em;
      li {
        width: 20em;
      }
    }
    @media (min-width: 66em) {
      width: 64em;
    }
    @media (min-width: 88em) {
      width: 86em;
    }
  }

  li {
    width: 100%;
    display: block;
    margin-bottom: 2em;
  }
}
