* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  background-color: #b0d4e3;
  line-height: 1.57;
}

.App {
  padding: 1em;

  li {
    list-style: none;
    display: block;
    margin-bottom: 2em;
  }
}
